## Web scraping assignment 2

Question-1

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd # Importing the required libraries

In [2]:
PATH = "C:\Program Files (x86)\chromedriver.exe" # Defining path

In [3]:
driver = webdriver.Chrome(PATH)
driver.get("https://www.naukri.com/")

driver.implicitly_wait(3)

search_pos = driver.find_element_by_id('qsb-keyword-sugg')
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_but =  driver.find_element_by_class_name('search-btn')
# Locating and assigning the search buttons

I have defined the required buttons/ text fields which will be required here.

In [4]:
search_pos.send_keys('Data Analyst')
search_loc.send_keys('Bangalore')
search_but.click()
#sending the required data

Now we enter the data as requested in Q1. and send the request.

In [5]:
job_title = []
job_loc = []
job_comp = []
job_exp = []

Empty lists for future data collection.

In [6]:
time.sleep(3)
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
locs = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
comps = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
exps = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
# these are the components we need to fetch

In [7]:
for title in titles:
    if title.text is None:
        job_title.append('-') 
    else:
        job_title.append(title.text)

        
for loc in locs:
    if loc.text is None:
        job_loc.append('-')
    else:
        job_loc.append(loc.text)


for comp in comps:
    if comp.text is None:
        job_comp.append('-')
    else: 
        job_comp.append(comp.text)           
        
for exp in exps:
    if exp.text is None:
        job_exp.append('-')
    else:
        job_exp.append(exp.text)

# For loop for iterating through all variables and assigning them

In [8]:
job_title = job_title[:10]
job_loc = job_loc[:10]
job_comp= job_comp[:10]
job_exp = job_exp[:10]

#truncating the list

In [9]:
jbb_df = pd.DataFrame({})
jbb_df['Job title'] = job_title
jbb_df['Location'] = job_loc
jbb_df['Company name'] = job_comp
jbb_df['Experience required'] = job_exp

jbb_df

#Data frame and print

,Job title,Location,Company name,Experience required
0,Senior Data Analyst - Einstein Analytics,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Enquero,3-5 Yrs
1,Data Analyst - 0-2 years (6 month contract),"New Delhi, Gurgaon/Gurugram, Chennai, Bangalor...",NIUM INDIA PRIVATE LIMITED,0-2 Yrs
2,Data Analyst,(WFH during Covid),CAREERLABS TECHNOLOGIES PRIVATE LIMITED,0-3 Yrs
3,Data Analyst,Bangalore/Bengaluru,Tata Consultancy Services Ltd.,4-8 Yrs
4,Senior Data Analyst,(WFH during Covid),Nx-DT,10-16 Yrs
5,SQL Data Analyst,"Pune, Chennai, Bangalore/Bengaluru",NetApp,3-7 Yrs
6,Senior Business Analyst- Data Science,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Evalueserve.com Pvt. Ltd,2-7 Yrs
7,Data Analyst,(WFH during Covid),Allegis Services India Pvt. Ltd.,3-5 Yrs
8,Business/Data Analyst - Colleague Experience &...,Bangalore/Bengaluru,Vmware,3-8 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru(Whitefield),Telstra India Pvt Ltd,7-8 Yrs

In [10]:
time.sleep(5)
driver.quit()

## End of question-1 and begining of question-2

In [11]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
import time   
from selenium.common.exceptions import NoSuchElementException #importing the required libraries

In [12]:
PATH = "C:\Program Files (x86)\chromedriver.exe"

In [13]:
driver = webdriver.Chrome(PATH)
driver.get("https://www.naukri.com/")

time.sleep(3)

search_pos = driver.find_element_by_id('qsb-keyword-sugg')
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_but =  driver.find_element_by_class_name('search-btn')
#locating the search field and buttons

In [14]:
search_pos.send_keys('Data Science')
search_loc.send_keys('Bangalore')
search_but.click()
time.sleep(3)
#sending the required data and pressing enter

In [15]:
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
locs = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
comps = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#These are the attributes we need

In [16]:
job_title = []
for title in titles:
    if title.text is None:
        job_title.append('-') 
    else:
        job_title.append(title.text)

        
job_loc = []
for loc in locs:
    if loc.text is None:
        job_loc.append('-')
    else:
        job_loc.append(loc.text)


job_comp = []
for comp in comps:
    if comp.text is None:
        job_comp.append('-')
    else: 
        job_comp.append(comp.text)           
        
job_desc = []

#For loop for iterating though all variable and create a list

In [17]:
urls = []
for url in titles:
    urls.append(url.get_attribute('href'))          
#getting the urls from the title ising href attribute

In [18]:
for link in urls[:10]:
    driver.get(link)
    time.sleep(3)
    try:
        desc = driver.find_element_by_xpath("//section[@class='job-desc']")
        job_desc.append(desc.text)
    except NoSuchElementException:
        job_desc.append('-')
    
 # Now we iterate through all the URLs and get the full job description from there

In [19]:
job_title = job_title[:10]
job_loc = job_loc[:10]
job_comp = job_comp[:10]
print(len(job_title),len(job_loc),len(job_comp),len(job_desc))

#truncating the list

10 10 10 10

In [20]:
jb_df = pd.DataFrame({})
jb_df['Job title'] = job_title
jb_df['Location'] = job_loc
jb_df['Company name'] = job_comp
jb_df['Full job descrpiton'] = job_desc

jb_df

#Data frame and print

,Job title,Location,Company name,Full job descrpiton
0,Senior Business Analyst- Data Science,Bangalore/Bengaluru(Whitefield),Evalueserve.com Pvt. Ltd,Job description\nRoles and Responsibilities\n\...
1,PROJECT MANAGER - DATA SCIENCE - CONSUMER,Bangalore/Bengaluru,BRIDGEi2i Analytics Solutions Private Limited,Job description\nThe role will involve taking ...
2,Data Science Engineer,Bangalore/Bengaluru,IBM India Pvt. Limited,-
3,Senior Data Scientist / Tech Lead - Data Science,"Bangalore/Bengaluru, Delhi / NCR",Confidential,Job description\nResponsibilities -\nLead a te...
4,Sr Manager Data Science,Bangalore/Bengaluru,Superior Group,Job description\n\nResponsible for leading the...
5,Executive Director - Data Science & Analysis,Bangalore/Bengaluru,ExecBoardinAsia,Job description\nFraud & Cyber Analytics is lo...
6,Opening For Data Science Trainer @ITvedant- Mu...,"Thane, Bangalore/Bengaluru, Mumbai (All Areas)",ITVEDANT EDUCATION PRIVATE LIMITED,Job description\nPosition - IT Trainer\n\nJob ...
7,Transformational opportunity in Data Science a...,"Noida, Indore, Gurgaon/Gurugram, Bangalore/Ben...",Impetus Technologies India Pvt. Ltd,-
8,Associate Director/ Director- Data Science & B...,(WFH during Covid),BYJU'S,Job description\nOrganization overview (top II...
9,Data Science Engineer,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",IBM India Pvt. Limited,-

In [21]:
time.sleep(5)
driver.quit()

### Beginning of question 3

In [22]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
import time   
from selenium.common.exceptions import NoSuchElementException # Importing required libraries

In [23]:
PATH = "C:\Program Files (x86)\chromedriver.exe"

In [24]:
driver = webdriver.Chrome(PATH)
driver.get("https://www.naukri.com/")

time.sleep(3)

search_pos = driver.find_element_by_id('qsb-keyword-sugg')
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_but =  driver.find_element_by_class_name('search-btn')
# Locating the required search field and button

In [25]:
search_pos.send_keys('Data Science')
search_but.click()
# Entering data and clicking enter

In [26]:
time.sleep(3)
driver.find_element_by_xpath("//span[@title='Delhi / NCR']").click()
# Now we use the filters to narrow down the search

In [27]:
time.sleep(2)
driver.find_element_by_xpath("//span[@title='3-6 Lakhs']").click()

In [28]:
time.sleep(3)
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
locs = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
comps = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
exps = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
# After filtering these are the attributes we need

In [29]:
job_title = []
job_loc = []
job_comp= []
job_exp = []

for title in titles:
    if title.text is None:
        job_title.append('-') 
    else:
        job_title.append(title.text)

        
for loc in locs:
    if loc.text is None:
        job_loc.append('-')
    else:
        job_loc.append(loc.text)


for comp in comps:
    if comp.text is None:
        job_comp.append('-')
    else: 
        job_comp.append(comp.text)           
        
for exp in exps:
    if exp.text is None:
        job_exp.append('-')
    else:
        job_exp.append(exp.text)
        
# For loop to go though the vairables and attatch them to our list

In [30]:
job_title = job_title[:10]
job_loc = job_loc[:10]
job_comp= job_comp[:10]
job_exp = job_exp[:10]
# Truncaitng the list

In [31]:
jb_df = pd.DataFrame({})
jb_df['Job title'] = job_title
jb_df['Location'] = job_loc
jb_df['Company name'] = job_comp
jb_df['Experience required'] = job_exp

jb_df

#Data frame make and print

,Job title,Location,Company name,Experience required
0,Artifical Intelligence / ML / Cognitive / Data...,Delhi / NCR,IBM India Pvt. Limited,0-1 Yrs
1,BA - Data Science - Full stack developer,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Chen...",Sitel India Pvt Ltd,5-10 Yrs
2,Looking For Recruiters To Hire Data Science AI...,(WFH during Covid),Placewell Consultants,0-2 Yrs
3,Data Science Intern,Remote,DataTrained,0-2 Yrs
4,Data science - Analyst,"Noida, Bengaluru",Grail Research,1-3 Yrs
5,MNC Jobs- Tableau / Power BI / Python Data Sci...,"Bangalore/Bengaluru, Delhi / NCR",GABA Consultancy services,0-5 Yrs
6,Associate / Senior Associate - Data Science - ...,"Noida, New Delhi, Gurgaon/Gurugram",NovoTree Minds Consulting Pvt. Ltd.,2-6 Yrs
7,DATA SCIENCE INTERN,Delhi / NCR,empass,0-4 Yrs
8,Data Science - Intern,(WFH during Covid),Mindworksglobal,0-0 Yrs
9,Data Science,Gurgaon,Diverse Lynx,2-6 Yrs

In [32]:
time.sleep(5)
driver.quit()

### Beginning of Question 4 and 5

In [33]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
import time   
from selenium.common.exceptions import NoSuchElementException # Reuqired libraries

In [34]:
PATH = "C:\Program Files (x86)\chromedriver.exe"

In [35]:
driver = webdriver.Chrome(PATH)
driver.get("https://www.glassdoor.co.in/member/home/index.htm")

time.sleep(3)
# This website requires a login before viewing any data we cannot go past this step without makiing credentials public

In [36]:
driver.quit()

# Question 4 & 5 require a login before accessing the data. As per sir's direction I will be skipping question 4 & 5 referring to glassdoor requiring login information which we cannot share on github.

### Beginning of Question-6

In [37]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
import time   
from selenium.common.exceptions import NoSuchElementException # Required libraries

In [38]:
PATH = "C:\Program Files (x86)\chromedriver.exe"

In [39]:
driver = webdriver.Chrome(PATH)
driver.get("https://www.flipkart.com/")

time.sleep(3)

In [40]:
login_pop_up = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
login_pop_up.click()
# This step is to close the pop up window which appears

In [41]:
time.sleep(2)
search_bar = driver.find_element_by_class_name('_3704LK')
search_button =  driver.find_element_by_class_name('L0Z3Pu')
# Locating the search bar and button

In [42]:
search_bar.send_keys('sunglasses')
search_button.click()
# Sending data to search bar and clickign the search button

In [43]:
time.sleep(3)
brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
descs = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
prices = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
discs = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
# These are the attributes we need to fetch

In [44]:
next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
# Defining next page button

In [45]:
sun_brand = []
sun_desc = []
sun_price = []
sun_disc = []
# Initiating empty lists

In [46]:
for brand in brands:
    if brand.text is None:
        sun_brand.append('-')
    else:
        sun_brand.append(brand.text)
        
for desc in descs:
    if desc.text is None:
        sun_desc.append('-')
    else:
        sun_desc.append(desc.text)
        
for price in prices:
    if price.text is None:
        sun_price.append('-')
    else:
        sun_price.append(price.text)
        
for disc in discs:
    if disc.text is None:
        sun_disc.append('-')
    else:
        sun_disc.append(disc.text)

# Getting all attributes in a list using the for loop

In [47]:
for i in range(2):
    time.sleep(3)
    for brand in brands:
        if brand.text is None:
            sun_brand.append('-')
        else:
            sun_brand.append(brand.text)
            
    for desc in descs:
        if desc.text is None:
            sun_desc.append('-')
        else:
            sun_desc.append(desc.text) 
            
    for price in prices:
        if price.text is None:
            sun_price.append('-')
        else:
            sun_price.append(price.text)
            
    for disc in discs:
        if disc.text is None:
            sun_disc.append('-')
        else:
            sun_disc.append(disc.text)
    
    next_button.click()
    time.sleep(5)
    for n in range(40):
        brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        descs = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        prices = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        discs = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
        
# This is the 2nd for loop we use for the next pages. We are going to click it twice to get total 100 data

In [48]:
sun_brand = sun_brand[:100]
sun_desc = sun_desc[:100]
sun_price = sun_price[:100]
sun_disc = sun_disc[:100]
# Truncating the lists

In [49]:
sun_df = pd.DataFrame({})
sun_df['Brand'] = sun_brand
sun_df['Description'] = sun_desc
sun_df['Price'] = sun_price
sun_df['Discount'] = sun_disc

sun_df

# Creating and printing the data frame

,Brand,Description,Price,Discount
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹663,73% off
1,HAMIW COLLECTION,"UV Protection Wayfarer, Sports, Shield, Rectan...",₹197,86% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
...,...,...,...,...
95,ROYAL SON,"UV Protection, Riding Glasses Wrap-around Sung...",₹699,53% off
96,NuVew,"UV Protection, Mirrored Retro Square Sunglasse...",₹202,74% off
97,Fastrack,UV Protection Round Sunglasses (54),₹558,30% off
98,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹426,80% off
99,Billion,UV Protection Wayfarer Sunglasses (32),₹279,78% off

In [50]:
time.sleep(5)
driver.quit()

## Beginning of Question-7

In [51]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
import time   
from selenium.common.exceptions import NoSuchElementException # Required libraries

In [52]:
PATH = "C:\Program Files (x86)\chromedriver.exe"

In [53]:
driver = webdriver.Chrome(PATH)
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

time.sleep(3)
# Directly we go to the page

In [54]:
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()
# Expanding all reviews button and clickign it

In [55]:
time.sleep(3)
rev_rats = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rev_title = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
rev_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
next_button_now = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
# These are the attributes we need to fetch

In [56]:
ratings = []
title = []
full = []
# Initiaitng lists

In [57]:
for i in range(10):
#     time.sleep(3)
    
    for rats in rev_rats:
        if rats.text is None:
            ratings.append('-')
        else:
            ratings.append(rats.text)
        
    for titles in rev_title:
        if titles.text is None:
            title.append('-')
        else:
            title.append(titles.text)

    for desc in rev_full:
        if desc.text is None:
            full.append('-')
        else: 
            full.append(desc.text.replace('\n',' '))
    
    nav_bar = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    nav_bar[-1].click()    
    time.sleep(3)
    for n in range(10):
        rev_rats = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        rev_title = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        rev_full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        
# We iterate through th enext button 10 times because we need 100 data and each page contains 10 data. 100/10 = 10 pages.

In [58]:
missing_rat = 100 - int(len(ratings))
if missing_rat >= 1:
    for i in range(missing_rat):
        ratings.append('-')
# Filling the missed ratings

In [59]:
rev_df = pd.DataFrame({})
rev_df['Rating'] = ratings
rev_df['Review Title'] = title
rev_df['Full Review'] = full

rev_df

# Creating the data frame

,Rating,Review Title,Full Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
96,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...
97,5,Must buy!,I rate this product 5* as it has got amazing u...
98,-,Excellent,It was amazing experience for me. Honestly i a...
99,-,Excellent,Just go for it. This phone is really amazing. ...

In [60]:
time.sleep(5)
driver.quit()

## Beginning of Question 8

In [61]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
import time   
from selenium.common.exceptions import NoSuchElementException # Required libraries

In [62]:
PATH = "C:\Program Files (x86)\chromedriver.exe"

In [63]:
driver = webdriver.Chrome(PATH)
driver.get("https://www.flipkart.com/")

time.sleep(3)

In [64]:
login_pop_up = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
login_pop_up.click()
# Closing the pop up

In [65]:
time.sleep(2)

search_bar = driver.find_element_by_class_name('_3704LK')
search_button =  driver.find_element_by_class_name('L0Z3Pu')
# Locating search bar and button

In [66]:
search_bar.send_keys('sneakers')
search_button.click()
# Entering sneakers and searching

In [67]:
time.sleep(3)
brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
descs = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
prices = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
discs = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
# These are the attributes which we need ot fetch

In [68]:
sneaker_brand = []
sneaker_desc = []
sneaker_price = []
sneaker_disc = []
# Initiating lists

In [69]:
for brand in brands:
    if brand.text is None:
        sneaker_brand.append('-')
    else:
        sneaker_brand.append(brand.text)
        
for desc in descs:
    if desc.text is None:
        sneaker_desc.append('-')
    else:
        sneaker_desc.append(desc.text)
        
for price in prices:
    if price.text is None:
        sneaker_price.append('-')
    else:
        sneaker_price.append(price.text)
        
for disc in discs:
    if disc.text is None:
        sneaker_disc.append('-')
    else:
        sneaker_disc.append(disc.text)
        
# Using for loop to append data to our list

In [70]:
for i in range(2):
    time.sleep(3)
    for brand in brands:
        if brand.text is None:
            sneaker_brand.append('-')
        else:
            sneaker_brand.append(brand.text)
            
    for desc in descs:
        if desc.text is None:
            sneaker_desc.append('-')
        else:
            sneaker_desc.append(desc.text) 
            
    for price in prices:
        if price.text is None:
            sneaker_price.append('-')
        else:
            sneaker_price.append(price.text)
            
    for disc in discs:
        if disc.text is None:
            sneaker_disc.append('-')
        else:
            sneaker_disc.append(disc.text)
    
    next_button.click()
    time.sleep(5)
    for n in range(40):
        brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        descs = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        prices = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        discs = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
# Using for loop to append data to our list

In [71]:
sneaker_brand = sneaker_brand[:100]
sneaker_desc = sneaker_desc[:100]
sneaker_price = sneaker_price[:100]
sneaker_disc = sneaker_disc[:100]
# Truncating our data to 100

In [72]:
sneaker_df = pd.DataFrame({})
sneaker_df['Brand'] = sneaker_brand
sneaker_df['Description'] = sneaker_desc
sneaker_df['Price'] = sneaker_price
sneaker_df['Discount'] = sneaker_disc

sneaker_df

# Initiate and print data frame

,Brand,Description,Price,Discount
0,Zorth,Unique & Perfect Collection Combo Pack of 02 S...,₹499,50% off
1,Zorth,Sneakers For Men,₹493,50% off
2,Chevit,Original Luxury Branded Fashionable Men's Casu...,₹420,71% off
3,PEHANOSA,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹419,58% off
4,ASTEROID,Luxury Fashionable casual sneaker shoes Sneake...,₹499,75% off
...,...,...,...,...
95,Echor,Combo pack of 2 casual sneaker shoes for men S...,₹599,67% off
96,World Wear Footwear,Sneakers For Men,₹240,72% off
97,Rising Wolf,Sneakers For Men,₹512,35% off
98,WRIZT,Fashionable casual sneaker shoes Sneakers For Men,₹279,60% off
99,U.S. POLO ASSN.,Luxury Branded Fashionable Men's Casual Walkin...,"₹1,949",50% off

In [73]:
time.sleep(5)
driver.quit()

### Beginning of question 9

In [74]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
import time   
from selenium.common.exceptions import NoSuchElementException # Required libraries

In [75]:
PATH = "C:\Program Files (x86)\chromedriver.exe"

In [76]:
driver = webdriver.Chrome(PATH)
driver.get("https://www.myntra.com/shoes?plaEnabled=false&sort=discount")

time.sleep(3)
# Going to link

In [77]:
time.sleep(3)
color = driver.find_elements_by_xpath("//label[@class='common-customCheckbox']")
color[0].click()
# Color check box selection

In [78]:
time.sleep(3)
pr = driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")
pr[7].click()
# Price checkbox selection

In [79]:
time.sleep(3)
brands = driver.find_elements_by_xpath("//h3[@class='product-brand']")
descs = driver.find_elements_by_xpath("//h4[@class='product-product']")
prices = driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
# Now these are thee attributes we need ot fetch

In [80]:
next_button = driver.find_element_by_xpath("//li[@class='pagination-next']")

In [81]:
snek_brand = []
snek_desc = []
snek_price = []
# Initiating empty lists

In [82]:
for brand in brands:
    if brand.text is None:
        snek_brand.append('-')
    else:
        snek_brand.append(brand.text)
        
for desc in descs:
    if desc.text is None:
        snek_desc.append('-')
    else:
        snek_desc.append(desc.text)
        
for price in prices:
    if price.text is None:
        snek_price.append('-')
    else:
        snek_price.append(price.text)
        
# Using for loop to append data to our list

In [83]:
next_button.click()
time.sleep(5)
# Going to next page

In [84]:
brands = driver.find_elements_by_xpath("//h3[@class='product-brand']")
descs = driver.find_elements_by_xpath("//h4[@class='product-product']")
prices = driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")

for brand in brands:
    if brand.text is None:
        snek_brand.append('-')
    else:
        snek_brand.append(brand.text)
        
for desc in descs:
    if desc.text is None:
        snek_desc.append('-')
    else:
        snek_desc.append(desc.text)
        
for price in prices:
    if price.text is None:
        snek_price.append('-')
    else:
        snek_price.append(price.text)

# Using for loop to append data to our list

In [85]:
snek_df = pd.DataFrame({})
snek_df['Brand'] = snek_brand
snek_df['Description'] = snek_desc
snek_df['Price'] = snek_price

snek_df

# Initiaitng and printing data frame

,Brand,Description,Price
0,Cole Haan,Women Leather Kitten Heels,Rs. 6799
1,ALDO,Men Leather Formal Derbys,Rs. 5599
2,Cole Haan,Women High Top Heeled Boots,Rs. 7599
3,Cole Haan,Women ZeroGrand All Day Stitchlite Runner Snea...,Rs. 6399
4,ALDO,Women Heeled Boots,Rs. 5999
...,...,...,...
95,ADIDAS,Men Ultraboost DNA CC_1 Shoes,Rs. 10199
96,Nike,Women ZOOM FLY 3 Running Shoes,Rs. 8397
97,ADIDAS Originals,Men NMD_R1 Spectoo Sneakers,Rs. 8399
98,Nike,Women AIR ZOOM Running Shoes,Rs. 6177
99,Nike,Women AIR ZOOM Running,Rs. 8097

In [86]:
time.sleep(5)
driver.quit()

### Beginning of question 10

In [87]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
import time   
from selenium.common.exceptions import NoSuchElementException # Required libraries

In [88]:
PATH = "C:\Program Files (x86)\chromedriver.exe"

In [89]:
driver = webdriver.Chrome(PATH)
driver.get("https://www.amazon.in/")

time.sleep(3)

In [90]:
search_bar = driver.find_element_by_id('twotabsearchtextbox')
search_but = driver.find_element_by_id('nav-search-submit-button')
# Finding search bar and search button

In [91]:
search_bar.send_keys('Laptop')
search_but.click()
# Entering data in search bar and clickign search button

In [92]:
driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']/span").click()
time.sleep(2)
# This is i7 check box

In [93]:
driver.find_element_by_xpath("//li[@aria-label='Intel Core i9']/span").click()
time.sleep(2)
# This is i9 check box

In [94]:
titles =  driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
ratings = driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span")
prices = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
# These are the attributes we need to fetch

In [95]:
title_list = []
rating_list = []
price_list = []
# Initiating empty lists

In [96]:
for i in titles:
    if i.text is None:
        title_list.append('-')
    else:
        title_list.append(i.text)
        
for i in ratings:
    if i.text is None:
        rating_list.append('-')
    else:
        rating_list.append(i.text)
        
for i in prices:
    if i.text is None:
        price_list.append('-')
    else:
        price_list.append(i.text)
        
# Using for loop to append data to our list

In [97]:
rats = []
for i in range(1,len(rating_list),2):
    rats.append(rating_list[i])
# Removign empty data

In [98]:
rats = rats[:10]
name = title_list[:10]
pric = price_list[:10]
# Truncating list

In [99]:
laptop = pd.DataFrame({})
laptop['Title'] = name
laptop['Total ratings'] = rats
laptop['Price'] = pric

laptop

# Initiating and printing data frame

                                               Title Total ratings     Price
0  HP Envy 11th Gen Core i7 Processor 13.3-inch (...           218  1,09,990
1  Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14...            37  1,03,100
2  MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39....            25    81,990
3  HP Pavilion (2021) Thin & Light 11th Gen Core ...           259    84,990
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...         1,025    59,490
5  HP Pavilion Gaming(2021) 10th Gen Intel Core i...           471    89,990
6  ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...             8    71,990
7  HP Envy 11th Gen Core i7 Processor 13.3-inch (...           218  1,09,990
8  MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...             6    74,990
9  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...             5  1,07,990

In [100]:
time.sleep(5)
driver.quit()

## This is the end of Web scraping -2 assignment. Thank you!