# Assignment-1 web scraping

### I have commented out the contents, otherwise it was taking huge space on github display.

## Beginning of question 1

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
page_wiki = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page_wiki

In [3]:
# page_wiki.content

In [4]:
soup_wiki = BeautifulSoup(page_wiki.content)
# soup_wiki

In [5]:
# print(soup_wiki.prettify())

In [6]:
all_text = soup_wiki.find_all('div',class_= 'mw-parser-output')
# all_text

In [7]:
headers = []

for i in all_text:
    for j in i.find_all("h2"):
        headers.append(j.text)
    
        
headers

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [8]:
header_df = pd.DataFrame({})
header_df['Headers']=headers

header_df

                         Headers
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

### Final answer for question 1

## Beginning of question 2

In [9]:
page_imdb_top = requests.get('https://www.imdb.com/chart/top/')
page_imdb_top

In [10]:
soup_imdb_top = BeautifulSoup(page_imdb_top.content)

In [11]:
# print(soup_imdb_top.prettify())

In [12]:
all_text = soup_imdb_top.find_all('div',class_='lister')
# all_text

In [13]:
titles_two = []

for i in all_text:
    for j in i.find_all("a"):
        titles_two.append(j.text)

In [14]:
# titles_two

In [15]:
titles = []
for i in range(1,len(titles_two),2):
    titles.append(titles_two[i])
# titles

In [16]:
imdb_rating = []

for i in all_text:
    for j in i.find_all("strong"):
        imdb_rating.append(j.text)

In [17]:
len(imdb_rating)

250

In [18]:
short_text = soup_imdb_top.find_all('td', class_='titleColumn')
# short_text

In [19]:
year_release = []
for i in short_text:
    for j in i.find_all("span"):
        year_release.append(j.text)

In [20]:
# year_release

In [21]:
IMDB_top_chart = pd.DataFrame({})
IMDB_top_chart['Name'] = titles
IMDB_top_chart['Rating'] = imdb_rating
IMDB_top_chart['Year'] = year_release

In [22]:
IMDB_top_chart

                                   Name Rating    Year
0              The Shawshank Redemption    9.2  (1994)
1                         The Godfather    9.1  (1972)
2                The Godfather: Part II    9.0  (1974)
3                       The Dark Knight    9.0  (2008)
4                          12 Angry Men    8.9  (1957)
..                                  ...    ...     ...
245  Kimetsu no Yaiba: Mugen Ressha-Hen    8.0  (2020)
246       Sunrise: A Song of Two Humans    8.0  (1927)
247                          Hera Pheri    8.0  (2000)
248                            Drishyam    8.0  (2013)
249                        Paris, Texas    8.0  (1984)

[250 rows x 3 columns]

### Final answer for question 2

## Beginning of question 3

In [23]:
page_imdb_top_IN = requests.get('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2e9dfa9b-3e4d-4d39-acd2-8af11f252a59&pf_rd_r=T71CQQ659ST137A3VF22&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1')
page_imdb_top_IN

In [24]:
soup_imdb_top_IN = BeautifulSoup(page_imdb_top_IN.content)

In [25]:
# print(soup_imdb_top_IN.prettify())

In [26]:
all_text_IN = soup_imdb_top_IN.find_all('div',class_='lister')
# all_text_IN

In [27]:
short_text_IN = soup_imdb_top_IN.find_all('td', class_='titleColumn')
# short_text_IN

In [28]:
titles_two_IN = []

for i in all_text_IN:
    for j in i.find_all("a"):
        titles_two_IN.append(j.text)

In [29]:
# titles_two_IN

In [30]:
titles_IN = []
for i in range(1,len(titles_two_IN),2):
    titles_IN.append(titles_two_IN[i])
# titles_IN

In [31]:
imdb_rating_IN = []

for i in all_text_IN:
    for j in i.find_all("strong"):
        imdb_rating_IN.append(j.text)

In [32]:
# imdb_rating_IN

In [33]:
year_release_IN = []
for i in short_text_IN:
    for j in i.find_all("span"):
        year_release_IN.append(j.text)

In [34]:
# year_release_IN

In [35]:
IMDB_top_chart_IN = pd.DataFrame({})
IMDB_top_chart_IN['Name'] = titles_IN
IMDB_top_chart_IN['Rating'] = imdb_rating_IN
IMDB_top_chart_IN['Year'] = year_release_IN

In [36]:
IMDB_top_chart_IN

                  Name Rating    Year
0              Nayakan    8.5  (1987)
1    Pariyerum Perumal    8.5  (2018)
2           Anbe Sivam    8.5  (2003)
3    C/o Kancharapalem    8.5  (2018)
4              Golmaal    8.5  (1979)
..                 ...    ...     ...
245      Saala Khadoos    7.6  (2016)
246               Piku    7.6  (2015)
247        Wake Up Sid    7.6  (2009)
248               Ludo    7.6  (2020)
249             Dhruva    7.6  (2016)

[250 rows x 3 columns]

### Final answer for question 3

## Beginning of question 4

In [37]:
page_bp = requests.get('https://bookpage.com/reviews?book_genre=nonfiction&page=1')
page_bp

In [38]:
soup_bp = BeautifulSoup(page_bp.content)

In [39]:
books_text = soup_bp.find_all('div',class_= 'bp-well')

In [40]:
# books_text

In [41]:
books_short_text = soup_bp.find_all('h4',class_= 'italic')

In [42]:
book_name = []

for i in books_short_text:
    for j in i.find_all("a"):
        book_name.append(j.text.replace('★',''))

In [43]:
book_name

['  A Farewell to Gabo and Mercedes',
 'We Are Each Other’s Harvest',
 'The Wreckage of My Presence',
 'New Women in the Old West',
 'How Y’all Doing?',
 'Believers',
 'What Is a Dog?',
 'Carry On',
 "  Don't Let It Get You Down",
 '  The Joy of Sweat']

In [44]:
book_info = soup_bp.find_all('div',class_= 'flex-article-content')
# book_info

In [45]:
author_name_de = []

for i in book_info:
    for j in i.find_all('p'):
        author_name_de.append(j.text.replace('\n',''))
        
# author_name_de

In [46]:
author_name = []
for i in range(0,len(author_name_de),3):
    author_name.append(author_name_de[i])
author_name

['Rodrigo García',
 'Natalie Baszile, Tina Lifford',
 'Casey Wilson',
 'Winifred Gallagher',
 'Leslie Jordan',
 'Lisa Wells',
 'Chloe Shaw',
 'John Lewis',
 'Savala Nolan',
 'Sarah Everts']

In [47]:
genere = []
for i in range(1,len(author_name_de),3):
    genere.append(author_name_de[i])
genere

['Nonfiction / Memoir / Family & Relationships',
 'Audio / Nonfiction / African American History',
 'Audio / Nonfiction / Essays',
 "Nonfiction / History / Women's History",
 'Audio / Nonfiction / Memoir',
 'Nonfiction / Environment / Nature',
 'Nonfiction / Memoir / Pets',
 'Nonfiction / Essays / African American History',
 'Nonfiction / Essays / Memoir',
 'Nonfiction / Science / Anatomy']

In [48]:
bp_df = pd.DataFrame({})
bp_df['Book title'] = book_name
bp_df['Author'] = author_name
bp_df['Category'] = genere

In [49]:
bp_df

,Book title,Author,Category
0,A Farewell to Gabo and Mercedes,Rodrigo García,Nonfiction / Memoir / Family & Relationships
1,We Are Each Other’s Harvest,"Natalie Baszile, Tina Lifford",Audio / Nonfiction / African American History
2,The Wreckage of My Presence,Casey Wilson,Audio / Nonfiction / Essays
3,New Women in the Old West,Winifred Gallagher,Nonfiction / History / Women's History
4,How Y’all Doing?,Leslie Jordan,Audio / Nonfiction / Memoir
5,Believers,Lisa Wells,Nonfiction / Environment / Nature
6,What Is a Dog?,Chloe Shaw,Nonfiction / Memoir / Pets
7,Carry On,John Lewis,Nonfiction / Essays / African American History
8,Don't Let It Get You Down,Savala Nolan,Nonfiction / Essays / Memoir
9,The Joy of Sweat,Sarah Everts,Nonfiction / Science / Anatomy

### Final answer for question 4

## Beginning of question 5

In [50]:
link_5i = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
link_5i

In [51]:
soup_5i = BeautifulSoup(link_5i.content)
# print(soup_5i.prettify())

In [52]:
text_5i = soup_5i.find_all('section',class_='widget rankings-widget')

In [53]:
# text_5i

In [54]:
type(text_5i)

bs4.element.ResultSet

In [55]:
team_5i = []

for i in text_5i:
    for j in i.find_all('span',class_="u-hide-phablet"):
        team_5i.append(j.text.replace('\n',''))
        
team_5i

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan',
 'Netherlands',
 'Ireland',
 'Zimbabwe',
 'Scotland',
 'Oman',
 'Nepal',
 'UAE',
 'Namibia',
 'United States',
 'Papua New Guinea']

In [56]:
match_5i_ban = []

for i in text_5i:
    for j in i.find_all('td',class_="rankings-block__banner--matches"):
        match_5i_ban.append(j.text.replace('\n',''))
        
match_5i_ban

['17']

In [57]:
match_5i_bod = []

for i in text_5i:
    for j in i.find_all('td',class_="table-body__cell u-center-text"):
        match_5i_bod.append(j.text.replace('\n',''))
        
match_5i_bod

['32',
 '3,793',
 '27',
 '3,109',
 '32',
 '3,624',
 '22',
 '2,267',
 '27',
 '2,524',
 '29',
 '2,639',
 '29',
 '2,458',
 '29',
 '2,303',
 '17',
 '1,054',
 '7',
 '336',
 '23',
 '1,067',
 '17',
 '646',
 '7',
 '258',
 '7',
 '240',
 '5',
 '119',
 '9',
 '190',
 '6',
 '97',
 '8',
 '93',
 '5',
 '0']

In [58]:
rating_5i_bod = []

for i in text_5i:
    for j in i.find_all('td',class_="table-body__cell u-text-right rating"):
        rating_5i_bod.append(j.text.replace('\n',''))
        
rating_5i_bod

['119',
 '115',
 '113',
 '103',
 '93',
 '91',
 '85',
 '79',
 '62',
 '48',
 '46',
 '38',
 '37',
 '34',
 '24',
 '21',
 '16',
 '12',
 '0']

In [59]:
point_5i_ban = []

for i in text_5i:
    for j in i.find_all('td',class_="rankings-block__banner--points"):
        point_5i_ban.append(j.text.replace('\n',''))
        
point_5i_ban

['2,054']

In [60]:
rating_5i_ban = []

for i in text_5i:
    for j in i.find_all('td',class_="rankings-block__banner--rating u-text-right"):
        rating_5i_ban.append(j.text.strip())
        
rating_5i_ban

['121']

In [61]:
ratings = rating_5i_ban + rating_5i_bod

In [62]:
ratings

['121',
 '119',
 '115',
 '113',
 '103',
 '93',
 '91',
 '85',
 '79',
 '62',
 '48',
 '46',
 '38',
 '37',
 '34',
 '24',
 '21',
 '16',
 '12',
 '0']

In [63]:
ban_mp = match_5i_ban + point_5i_ban
ban_mp

['17', '2,054']

In [64]:
mp = ban_mp + match_5i_bod

In [65]:
mp

['17',
 '2,054',
 '32',
 '3,793',
 '27',
 '3,109',
 '32',
 '3,624',
 '22',
 '2,267',
 '27',
 '2,524',
 '29',
 '2,639',
 '29',
 '2,458',
 '29',
 '2,303',
 '17',
 '1,054',
 '7',
 '336',
 '23',
 '1,067',
 '17',
 '646',
 '7',
 '258',
 '7',
 '240',
 '5',
 '119',
 '9',
 '190',
 '6',
 '97',
 '8',
 '93',
 '5',
 '0']

In [66]:
matches = []
for i in range(0,len(mp),2):
    matches.append(mp[i])
matches

['17',
 '32',
 '27',
 '32',
 '22',
 '27',
 '29',
 '29',
 '29',
 '17',
 '7',
 '23',
 '17',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5']

In [67]:
points = []
for i in range(1,len(mp),2):
    points.append(mp[i])
points

['2,054',
 '3,793',
 '3,109',
 '3,624',
 '2,267',
 '2,524',
 '2,639',
 '2,458',
 '2,303',
 '1,054',
 '336',
 '1,067',
 '646',
 '258',
 '240',
 '119',
 '190',
 '97',
 '93',
 '0']

In [68]:
print(len(team_5i),len(matches),len(points),len(ratings))

20 20 20 20

In [69]:
bad_df = pd.DataFrame({})
bad_df['Team Name'] = team_5i
bad_df['Match'] = matches
bad_df['Point']= points
bad_df['Rating']=ratings

In [70]:
bad_df

           Team Name Match  Point Rating
0        New Zealand    17  2,054    121
1            England    32  3,793    119
2          Australia    27  3,109    115
3              India    32  3,624    113
4       South Africa    22  2,267    103
5           Pakistan    27  2,524     93
6         Bangladesh    29  2,639     91
7        West Indies    29  2,458     85
8          Sri Lanka    29  2,303     79
9        Afghanistan    17  1,054     62
10       Netherlands     7    336     48
11           Ireland    23  1,067     46
12          Zimbabwe    17    646     38
13          Scotland     7    258     37
14              Oman     7    240     34
15             Nepal     5    119     24
16               UAE     9    190     21
17           Namibia     6     97     16
18     United States     8     93     12
19  Papua New Guinea     5      0      0

Similarly can be performed for Question 5(ii), 5(iii), 6(i), 6(ii), 6(iii). we only need to change the link which we submit. and make changes in variable names. 

for 5(ii): https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting

for 5(iii): https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling

for 6(i): https://www.icc-cricket.com/rankings/womens/team-rankings/odi

for 6(ii): https://www.icc-cricket.com/rankings/womens/player-rankings/odi 

for 6(iii): https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder

### End of question 5 & 6

## Beginning of question 7

In [71]:
link_ama = requests.get('https://www.amazon.in/s?k=mobile+phone+under+rs+20000&ref=nb_sb_noss_2')
link_ama

In [72]:
# link_ama.content

In [73]:
soup_ama =  BeautifulSoup(link_ama.content)
# soup_ama

## We are getting a response 503, which means scraping could be illegal. I'm skipping this question for now as it may be harmful to go forward.

## Also regarding the same link above there is not enough data to complete the question. 

### End of question 7

## Beginning of question 8

In [74]:
weather = requests.get('https://forecast.weather.gov/MapClick.php?lat=37.7771&lon=-122.4196')
weather

In [75]:
weather_soup = BeautifulSoup(weather.content)
# print(weather_soup.prettify())

In [76]:
panel_body = weather_soup.find_all('div',class_= 'panel-body')
# panel_body

In [77]:
days = []

for i in panel_body:
    for j in i.find_all('div',class_="col-sm-2 forecast-label"):
        days.append(j.text.replace('\n',''))
        
days

['Today',
 'Tonight',
 'Thursday',
 'Thursday Night',
 'Friday',
 'Friday Night',
 'Saturday',
 'Saturday Night',
 'Sunday',
 'Sunday Night',
 'Monday',
 'Monday Night',
 'Tuesday']

In [78]:
short_desc = []

for i in panel_body:
    for j in i.find_all('p',class_="short-desc"):
        short_desc.append(j.text.replace('\n',''))
        
short_desc

['Partly Sunnythen MostlySunny andBreezy',
 'Mostly Cloudyand Breezythen MostlyCloudy',
 'Partly Sunnythen MostlySunny andBreezy',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'Mostly Sunnythen Sunnyand Breezy',
 'Mostly Cloudy',
 'Partly Sunny',
 'Mostly Cloudy',
 'Mostly Sunny']

In [79]:
temp_h = []

for i in panel_body:
    for j in i.find_all('p',class_="temp temp-high"):
        temp_h.append(j.text.replace('\n',''))
        
temp_h

['High: 71 °F', 'High: 70 °F', 'High: 69 °F', 'High: 67 °F', 'High: 68 °F']

In [80]:
temp_l = []

for i in panel_body:
    for j in i.find_all('p',class_="temp temp-low"):
        temp_l.append(j.text.replace('\n',''))
        
temp_l

['Low: 57 °F', 'Low: 56 °F', 'Low: 56 °F', 'Low: 56 °F']

In [81]:
temp_l.append('-')
temp_l

['Low: 57 °F', 'Low: 56 °F', 'Low: 56 °F', 'Low: 56 °F', '-']

In [82]:
temps = []
i = 0
while i < len(temp_h):
    temps.append(temp_h[i])
    temps.append(temp_l[i])
    i += 1

In [83]:
temps

['High: 71 °F',
 'Low: 57 °F',
 'High: 70 °F',
 'Low: 56 °F',
 'High: 69 °F',
 'Low: 56 °F',
 'High: 67 °F',
 'Low: 56 °F',
 'High: 68 °F',
 '-']

In [84]:
desc = []

for i in panel_body:
    for j in i.find_all('div',class_="col-sm-10 forecast-text"):
        desc.append(j.text.replace('\n',''))
        
desc

['Mostly cloudy, then gradually becoming sunny, with a high near 71. Breezy, with a west wind 10 to 15 mph increasing to 20 to 25 mph in the afternoon. Winds could gust as high as 33 mph. ',
 'Mostly cloudy, with a low around 57. Breezy, with a west wind 13 to 23 mph, with gusts as high as 29 mph. ',
 'Mostly cloudy, then gradually becoming sunny, with a high near 70. Breezy, with a west southwest wind 11 to 16 mph increasing to 20 to 25 mph in the afternoon. Winds could gust as high as 33 mph. ',
 'Partly cloudy, with a low around 56. Breezy, with a west southwest wind 14 to 24 mph, with gusts as high as 31 mph. ',
 'Mostly sunny, with a high near 69. Breezy, with a west southwest wind 13 to 23 mph, with gusts as high as 30 mph. ',
 'Mostly cloudy, with a low around 56.',
 'Partly sunny, with a high near 67.',
 'Mostly cloudy, with a low around 56.',
 'Mostly sunny, with a high near 68.',
 'Partly cloudy, with a low around 55.',
 'Mostly sunny, with a high near 66.',
 'Partly cloudy, with a low around 55.',
 'Mostly sunny, with a high near 66.']

In [85]:
print(len(days),len(short_desc),len(desc),len(temps))

13 9 13 10

In [86]:
days_9 = days[:9]

In [87]:
short_desc_9 = short_desc[:9]

In [88]:
desc_9 = desc[:9]

In [89]:
temps_9 = temps[:9]

In [90]:
weather_df = pd.DataFrame({})
weather_df['Period'] = days_9
weather_df['Short description'] = short_desc_9
weather_df['Temperature'] = temps_9
weather_df['Description'] = desc_9

In [91]:
weather_df

,Period,Short description,Temperature,Description
0,Today,Partly Sunnythen MostlySunny andBreezy,High: 71 °F,"Mostly cloudy, then gradually becoming sunny, ..."
1,Tonight,Mostly Cloudyand Breezythen MostlyCloudy,Low: 57 °F,"Mostly cloudy, with a low around 57. Breezy, w..."
2,Thursday,Partly Sunnythen MostlySunny andBreezy,High: 70 °F,"Mostly cloudy, then gradually becoming sunny, ..."
3,Thursday Night,Partly Cloudyand Breezythen MostlyCloudy,Low: 56 °F,"Partly cloudy, with a low around 56. Breezy, w..."
4,Friday,Mostly Sunnythen Sunnyand Breezy,High: 69 °F,"Mostly sunny, with a high near 69. Breezy, wit..."
5,Friday Night,Mostly Cloudy,Low: 56 °F,"Mostly cloudy, with a low around 56."
6,Saturday,Partly Sunny,High: 67 °F,"Partly sunny, with a high near 67."
7,Saturday Night,Mostly Cloudy,Low: 56 °F,"Mostly cloudy, with a low around 56."
8,Sunday,Mostly Sunny,High: 68 °F,"Mostly sunny, with a high near 68."

### End of question 8

## Beginning of question 9

In [92]:
intern = requests.get('https://internshala.com/fresher-jobs')
intern

In [93]:
intern_soup = BeautifulSoup(intern.content)

In [94]:
# print(intern_soup.prettify())

In [95]:
intern_title_soup = intern_soup.find_all('div',class_='heading_4_5 profile')
# intern_title_soup

In [96]:
intern_titles = []

for i in intern_title_soup:
    for j in i.find_all("a"):
        intern_titles.append(j.text)
    
        
intern_titles

['Sales Manager/Omni Sport Leader - Retail',
 'Human Resources (HR) Associate/Counselor',
 'Junior iOS App Developer',
 'Software Testing Engineer',
 'Embedded Systems Associate',
 'Full Stack Developer',
 'Nutrition & Dietetics Specialist',
 'Human Resources (HR) Executive',
 'Junior Software Developer',
 'Business Development Manager',
 'Patent Research Associate',
 'Data Analyst',
 'Software Tester',
 'Business Development Executive',
 'MERN Stack Developer',
 'Conversion Rate Optimization Analyst',
 'Client Service Executive',
 'Sales Development Representative',
 'Corporate Sales Associate',
 'International Business Development Executive',
 'Product Marketer',
 'Customer Support Associates',
 'Content & Customer Care Executive',
 'Django Developer',
 'Reactjs Developer',
 'Web Development Trainee',
 'Business Development Executive',
 'Cybersecurity Compliance Officer',
 'MERN Stack Developer',
 'Senior Copywriter',
 'Corporate Sales Associate',
 'Digital Marketing Associate',
 'Social Media Marketing Executive',
 'Business Development Executive',
 'Operations Manager',
 'Lead Counselor',
 'Angular.js Developer',
 'Digital Marketing Specialist',
 'Franchise Manager - Sales (Assistant Manager )',
 'Graphic Designer']

In [97]:
len(intern_titles)

40

In [98]:
intern_company = intern_soup.find_all('div',class_='heading_6 company_name')

In [99]:
# intern_company

In [100]:
companies = []

for i in intern_company:
    for j in i.find_all('a'):
        companies.append(j.text.strip())
    
        
companies

['Decathlon Sport India Private Limited',
 'New Way Professionals Private Limited',
 'Rang De',
 'SafeSquid Labs',
 'Signals & Systems India Private Limited',
 'Wisestep',
 'Nucros Science & Taste',
 'Nikulsan Technologies Private Limited',
 'Habitate Technologies Private Limited',
 'School Of Excellence',
 'Crimson Insights Technologies LLP',
 'Anudeep Nekkanti',
 'Startxlabs Technologies Private Limited',
 'Padhhigh',
 'Snippt',
 'DataVinci Private Limited',
 'Red Tree Design Studio Private Limited',
 'HelloAR',
 'Best Roadways Limited',
 'Advids',
 'Habitate Technologies Private Limited',
 'Recruit CRM',
 'Revo International LLP',
 'Startxlabs Technologies Private Limited',
 'Startxlabs Technologies Private Limited',
 'Softsensor.ai',
 'Verzeo',
 'S3 Infosoft',
 'Binary Numbers',
 'Ranksoldier International Private Limited',
 'MiM-Essay',
 'BubbleNut Wash',
 'Erikka India',
 'Cosmic Micro Systems Private Limited',
 'Kumi Labs',
 'HOSS - House Of Soft Skills',
 'Systaldyn Consultancy Private Limited',
 'Sahadya Consultants',
 'Regrob',
 'Cynfas']

In [101]:
intern_dp = intern_soup.find_all('div',class_='other_detail_item')
# intern_dp

In [102]:
intern_cleaned = []

for i in intern_dp:
    for j in i.find_all('div',class_="item_body"):
        intern_cleaned.append(j.text.strip())
    
        
# intern_cleaned

In [103]:
intern_ctc = []
for i in range(1,len(intern_cleaned),3):
    intern_ctc.append(intern_cleaned[i])
intern_ctc

['3.3 - 4.5 LPA',
 '3 - 4 LPA',
 '3 - 4.7 LPA',
 '3 LPA',
 '3 - 4 LPA',
 '3.25 - 5 LPA',
 '3 LPA',
 '3 LPA',
 '3.6 - 4.8 LPA',
 '3 - 3.5 LPA',
 '3 - 4 LPA',
 '6 - 10 LPA',
 '3 - 3.6 LPA',
 '4 - 7 LPA',
 '4 - 5 LPA',
 '5 LPA',
 '3 LPA',
 '3 - 3.2 LPA',
 '3 LPA',
 '3 - 4 LPA',
 '3.2 - 4.2 LPA',
 '5 - 7 LPA',
 '3 - 3.05 LPA',
 '3.5 - 7.5 LPA',
 '3.5 - 7.5 LPA',
 '3 - 5 LPA',
 '3 - 6 LPA',
 '3 - 3.6 LPA',
 '3 - 7 LPA',
 '3 LPA',
 '4.5 - 6 LPA',
 '3.6 - 5.4 LPA',
 '3 - 5 LPA',
 '3 - 4.8 LPA',
 '3 - 8 LPA',
 '3.8 - 4.5 LPA',
 '3 - 5 LPA',
 '3 - 3.5 LPA',
 '3 - 3.1 LPA',
 '3 LPA']

In [104]:
intern_date = []
for i in range(2,len(intern_cleaned),3):
    intern_date.append(intern_cleaned[i])
intern_date

["21 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "23 Aug' 21",
 "23 Aug' 21",
 "25 Aug' 21",
 "23 Aug' 21",
 "23 Aug' 21",
 "22 Aug' 21",
 "25 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21"]

In [105]:
intern_df = pd.DataFrame({})
intern_df['Job Title'] = intern_titles
intern_df['Company Name'] = companies
intern_df['CTC'] = intern_ctc
intern_df['Apply Date'] = intern_date

In [106]:
intern_df

,Job Title,Company Name,CTC,Apply Date
0,Sales Manager/Omni Sport Leader - Retail,Decathlon Sport India Private Limited,3.3 - 4.5 LPA,21 Aug' 21
1,Human Resources (HR) Associate/Counselor,New Way Professionals Private Limited,3 - 4 LPA,27 Aug' 21
2,Junior iOS App Developer,Rang De,3 - 4.7 LPA,27 Aug' 21
3,Software Testing Engineer,SafeSquid Labs,3 LPA,27 Aug' 21
4,Embedded Systems Associate,Signals & Systems India Private Limited,3 - 4 LPA,27 Aug' 21
5,Full Stack Developer,Wisestep,3.25 - 5 LPA,27 Aug' 21
6,Nutrition & Dietetics Specialist,Nucros Science & Taste,3 LPA,27 Aug' 21
7,Human Resources (HR) Executive,Nikulsan Technologies Private Limited,3 LPA,27 Aug' 21
8,Junior Software Developer,Habitate Technologies Private Limited,3.6 - 4.8 LPA,27 Aug' 21
9,Business Development Manager,School Of Excellence,3 - 3.5 LPA,27 Aug' 21
10,Patent Research Associate,Crimson Insights Technologies LLP,3 - 4 LPA,27 Aug' 21
11,Data Analyst,Anudeep Nekkanti,6 - 10 LPA,27 Aug' 21
12,Software Tester,Startxlabs Technologies Private Limited,3 - 3.6 LPA,27 Aug' 21
13,Business Development Executive,Padhhigh,4 - 7 LPA,26 Aug' 21
14,MERN Stack Developer,Snippt,4 - 5 LPA,26 Aug' 21
15,Conversion Rate Optimization Analyst,DataVinci Private Limited,5 LPA,26 Aug' 21
16,Client Service Executive,Red Tree Design Studio Private Limited,3 LPA,26 Aug' 21
17,Sales Development Representative,HelloAR,3 - 3.2 LPA,26 Aug' 21
18,Corporate Sales Associate,Best Roadways Limited,3 LPA,26 Aug' 21
19,International Business Development Executive,Advids,3 - 4 LPA,26 Aug' 21
20,Product Marketer,Habitate Technologies Private Limited,3.2 - 4.2 LPA,25 Aug' 21
21,Customer Support Associates,Recruit CRM,5 - 7 LPA,25 Aug' 21
22,Content & Customer Care Executive,Revo International LLP,3 - 3.05 LPA,25 Aug' 21
23,Django Developer,Startxlabs Technologies Private Limited,3.5 - 7.5 LPA,25 Aug' 21
24,Reactjs Developer,Startxlabs Technologies Private Limited,3.5 - 7.5 LPA,25 Aug' 21
25,Web Development Trainee,Softsensor.ai,3 - 5 LPA,25 Aug' 21
26,Business Development Executive,Verzeo,3 - 6 LPA,25 Aug' 21
27,Cybersecurity Compliance Officer,S3 Infosoft,3 - 3.6 LPA,25 Aug' 21
28,MERN Stack Developer,Binary Numbers,3 - 7 LPA,23 Aug' 21
29,Senior Copywriter,Ranksoldier International Private Limited,3 LPA,23 Aug' 21
30,Corporate Sales Associate,MiM-Essay,4.5 - 6 LPA,25 Aug' 21
31,Digital Marketing Associate,BubbleNut Wash,3.6 - 5.4 LPA,23 Aug' 21
32,Social Media Marketing Executive,Erikka India,3 - 5 LPA,23 Aug' 21
33,Business Development Executive,Cosmic Micro Systems Private Limited,3 - 4.8 LPA,22 Aug' 21
34,Operations Manager,Kumi Labs,3 - 8 LPA,25 Aug' 21
35,Lead Counselor,HOSS - House Of Soft Skills,3.8 - 4.5 LPA,22 Aug' 21
36,Angular.js Developer,Systaldyn Consultancy Private Limited,3 - 5 LPA,22 Aug' 21
37,Digital Marketing Specialist,Sahadya Consultants,3 - 3.5 LPA,22 Aug' 21
38,Franchise Manager - Sales (Assistant Manager ),Regrob,3 - 3.1 LPA,22 Aug' 21
39,Graphic Designer,Cynfas,3 LPA,22 Aug' 21

### End of question 9

## Beginning of question 10

In [107]:
nobroke = requests.get('https://www.nobroker.in/property/rent/pune/multiple?searchParam=W3sibGF0IjoxOC41NjQyNDUyLCJsb24iOjczLjc3Njg1MTEsInBsYWNlSWQiOiJDaElKeTlOZDhNLS13anNSZmF0Xy01Y1NrYUUiLCJwbGFjZU5hbWUiOiJCYW5lciJ9LHsibGF0IjoxOC41NDE1MDk5LCJsb24iOjczLjc5MjQ3NjksInBsYWNlSWQiOiJDaElKYmVSNWktTy13anNSZnRsM1BScV9wWU0iLCJwbGFjZU5hbWUiOiJQYXNoYW4ifSx7ImxhdCI6MTguNTY3OTE0NiwibG9uIjo3My45MTQzNDMxOTk5OTk5OSwicGxhY2VJZCI6IkNoSUp0WVFVNWtiQndqc1JzTE8wcVBjc1NMWSIsInBsYWNlTmFtZSI6IlZpbWFuIE5hZ2FyIn1d&radius=2.0&sharedAccomodation=0')
nobroke

In [108]:
# nobroke.content

In [109]:
soup_nb = BeautifulSoup(nobroke.content)
# soup_nb

In [110]:
# print(soup_nb.prettify())

In [111]:
all_nb = soup_nb.find_all('div',class_='infinite-scroll-component')

In [112]:
# all_nb

In [113]:
h_title = []

for i in all_nb:
    for j in i.find_all("h2"):
        h_title.append(j.text)
    
        
h_title

['2 BHK Flat  For Rent  In Nikash Skies Chs In Pashan ',
 '3 BHK Apartment  For Rent  In Saidatta Residency In Baner ',
 '1 BHK Flat  For Rent  In Fortune Mirador In Baner ',
 '2 BHK Flat  For Rent  In Sai Shwet Apartments  In Pashan ',
 '3 BHK Apartment  For Rent  In Shree Balaji Infinity In Baner ',
 '2 BHK Apartment  For Rent  In Suyog Pearl In Suyog Pearl Society ',
 '3 BHK Flat  For Rent  In Neco Gardens In Viman Nagar ',
 '2 BHK Apartment  For Rent  In Aditya Green Zone In Baner ',
 '2 BHK Flat  For Rent  In Achalare Tierra Viva In Baner ',
 '2 BHK Flat  For Rent  In Bhagwati Iris In Baner ']

In [114]:
h_loc = []

for i in all_nb:
    for j in i.find_all("div",class_='nb__2EXTx'):
        h_loc.append(j.text)
    
        
h_loc

['Someshwarwadi, Pashan, Pune, Maharashtra, INDIA',
 'Saidatta Residency\xa0 , Opp Prime Rose Mall,, 9, Baner Rd, Baner, Pune, Maharashtra 411045, India',
 'Sus road, Baner, Pune',
 'Jai Bhavani Nagar, Near Sri Ahobila Muth Sri Balaji Mandir',
 'Shree Balaji Infinity\xa0 S No 143/2 and 6, Baner, Pune, Maharashtra, INDIA.',
 'Suyog Pearl\xa0 Hadapsar, Pune, Maharashtra, INDIA.',
 'Viman Nagar, Pune-411014, Maharashtra, INDIA. ',
 'Aditya Green Zone\xa0 57, Mohan Nagar Co-Op Society, Baner,',
 'Pashan Hwy Side Road, Mohan Nagar Co-Op Society, Baner, Pune, Maharashtra, INDIA.',
 'Baner, Pune, Maharashtra 411045, India']

In [115]:
h_info = []

for i in all_nb:
    for j in i.find_all("div",class_='font-semi-bold heading-6'):
        h_info.append(j.text)
    
        
h_info

['1,450 sqft',
 '₹1,00,000',
 '₹ 26,000No Extra Maintenance',
 '1,475 sqft',
 '₹70,000',
 '₹ 28,000No Extra Maintenance',
 '780 sqft',
 '₹60,000',
 '₹ 16,500No Extra Maintenance',
 '1,150 sqft',
 '₹50,000',
 '₹ 18,000No Extra Maintenance',
 '1,700 sqft',
 '₹80,000',
 '₹ 31,000 +₹ 5,000 Maintenance',
 '1,000 sqft',
 '₹50,000',
 '₹ 30,000No Extra Maintenance',
 '1,200 sqft',
 '₹84,000',
 '₹ 29,000No Extra Maintenance',
 '1,015 sqft',
 '₹60,000',
 '₹ 20,000No Extra Maintenance',
 '904 sqft',
 '₹50,000',
 '₹ 20,000No Extra Maintenance',
 '940 sqft',
 '₹50,000',
 '₹ 23,000No Extra Maintenance']

In [116]:
h_area = []
for i in range(0,len(h_info),3):
    h_area.append(h_info[i])
h_area

['1,450 sqft',
 '1,475 sqft',
 '780 sqft',
 '1,150 sqft',
 '1,700 sqft',
 '1,000 sqft',
 '1,200 sqft',
 '1,015 sqft',
 '904 sqft',
 '940 sqft']

In [117]:
h_deposit = []
for i in range(1,len(h_info),3):
    h_deposit.append(h_info[i])
h_deposit

['₹1,00,000',
 '₹70,000',
 '₹60,000',
 '₹50,000',
 '₹80,000',
 '₹50,000',
 '₹84,000',
 '₹60,000',
 '₹50,000',
 '₹50,000']

In [118]:
h_rent = []
for i in range(2,len(h_info),3):
    h_rent.append(h_info[i])
h_rent

['₹ 26,000No Extra Maintenance',
 '₹ 28,000No Extra Maintenance',
 '₹ 16,500No Extra Maintenance',
 '₹ 18,000No Extra Maintenance',
 '₹ 31,000 +₹ 5,000 Maintenance',
 '₹ 30,000No Extra Maintenance',
 '₹ 29,000No Extra Maintenance',
 '₹ 20,000No Extra Maintenance',
 '₹ 20,000No Extra Maintenance',
 '₹ 23,000No Extra Maintenance']

In [119]:
h_rent = [w.replace('No Extra Maintenance', '') for w in h_rent]

In [120]:
h_rent

['₹ 26,000',
 '₹ 28,000',
 '₹ 16,500',
 '₹ 18,000',
 '₹ 31,000 +₹ 5,000 Maintenance',
 '₹ 30,000',
 '₹ 29,000',
 '₹ 20,000',
 '₹ 20,000',
 '₹ 23,000']

In [121]:
nb_df = pd.DataFrame({})
nb_df['House Title'] = h_title
nb_df['Location'] = h_loc
nb_df['Area'] = h_area
nb_df['EMI'] = h_rent
nb_df['Price'] = h_deposit

In [122]:
nb_df

,House Title,Location,Area,EMI,Price
0,2 BHK Flat For Rent In Nikash Skies Chs In P...,"Someshwarwadi, Pashan, Pune, Maharashtra, INDIA","1,450 sqft","₹ 26,000","₹1,00,000"
1,3 BHK Apartment For Rent In Saidatta Residen...,"Saidatta Residency , Opp Prime Rose Mall,, 9,...","1,475 sqft","₹ 28,000","₹70,000"
2,1 BHK Flat For Rent In Fortune Mirador In Ba...,"Sus road, Baner, Pune",780 sqft,"₹ 16,500","₹60,000"
3,2 BHK Flat For Rent In Sai Shwet Apartments ...,"Jai Bhavani Nagar, Near Sri Ahobila Muth Sri B...","1,150 sqft","₹ 18,000","₹50,000"
4,3 BHK Apartment For Rent In Shree Balaji Inf...,"Shree Balaji Infinity S No 143/2 and 6, Baner...","1,700 sqft","₹ 31,000 +₹ 5,000 Maintenance","₹80,000"
5,2 BHK Apartment For Rent In Suyog Pearl In S...,"Suyog Pearl Hadapsar, Pune, Maharashtra, INDIA.","1,000 sqft","₹ 30,000","₹50,000"
6,3 BHK Flat For Rent In Neco Gardens In Viman...,"Viman Nagar, Pune-411014, Maharashtra, INDIA.","1,200 sqft","₹ 29,000","₹84,000"
7,2 BHK Apartment For Rent In Aditya Green Zon...,"Aditya Green Zone 57, Mohan Nagar Co-Op Socie...","1,015 sqft","₹ 20,000","₹60,000"
8,2 BHK Flat For Rent In Achalare Tierra Viva ...,"Pashan Hwy Side Road, Mohan Nagar Co-Op Societ...",904 sqft,"₹ 20,000","₹50,000"
9,2 BHK Flat For Rent In Bhagwati Iris In Baner,"Baner, Pune, Maharashtra 411045, India",940 sqft,"₹ 23,000","₹50,000"

## This is end of question 10 and the assignemnt.